/* *************************item1 css************************* */
#itm1 {
    background-color: #e7f2ae;
    grid-column: 1;
    grid-row: 1 / span 4;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.itm1img {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    width: 295px;
    height: auto;
    transform: scaleX(-1);
    padding: -15px;
    width: 330px;
}


.forpdng {
    padding: 0px !important;
}

.itm1txt {
    padding: 20px;
}

.itm1txt span {
    background-color: white;
    padding: 10px 19px;
    border: 1px solid lightgreen;
    font-size: 18px;
    border-radius: 10px;

}

.headText {
    font-size: 28px;
    color: #4D5B00;
}

.normalText {
    font-size: 18px;
    color: #686868;
}